
<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">
    
  
    <body>
        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Inicio de secion
                    </div>
                    <form id="loginform">
                        <button type="submit" (click)="registrarUsuario()" title="Ingresar" name="Ingresar">confirmar</button>
                    </form>
                </div>
            </div>
        </div>
            
    </body>
</html>

<router-outlet></router-outlet>